* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.admin-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #222;
    color: white;
    padding: 25px;
    position: fixed;
}

.sidebar .logo {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.sidebar .logo span {
    color: #f0393d;
}

.sidebar .menu {
    list-style: none;
}

.sidebar .menu li {
    margin: 15px 0;
}

.sidebar .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: .3s;
}

.sidebar .menu a:hover,
.sidebar .menu a.active {
    color: #f0393d;
}

.logout-box {
    margin-top: 40px;
}

.logout-btn {
    text-decoration: none;
    color: #fff;
    background: #f0393d;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 8px;
    font-weight: 600;
}

/* MAIN CONTENT */
.content {
    margin-left: 270px;
    padding: 30px;
    width: 100%;
}

h1 {
    margin-bottom: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #f0393d;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}
.card .btn:hover {
    background: #d32f2f;
}
