@import url("base.css");
@import url("navbar.css");
@import url("homepage.css");
@import url("about.css");
@import url("tour.css");
@import url("order.css");
@import url("contact.css");
@import url("animations.css");
@import url("footer.css");

/* =======================================
   MODAL HARUS DI PALING BAWAH!!!
========================================= */
/* DARKMODE SETELAH MODAL */
@import url("darkmode.css");
@import url("modal.css");

