/* ============================================================
   TOUR PAGE (TOUR.HTML)
   ============================================================ */

/* BACKGROUND SECTION */
.main-tour-bg {
    background: url("../img/Tour.png") center/cover no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    padding-top: 10px;
}

/* HERO TITLE */
.hero-tour {
    text-align: center;
    margin-top: 140px;
    font-size: 28px;
    color: #eee;
    font-style: italic;
}

.hero-tour span {
    color: var(--red);
}

/* GRID CARD SECTION */
.card-container-tour {
    margin: 40px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* CARD ITEM */
.card-tour {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.3s ease, background-color 0.4s, color 0.4s;
}

/* Hover effect */
.card-tour:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(58, 44, 44, 0.3);
    border-radius: 30px;
}

/* CARD IMAGE */
.card-tour img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* TITLE */
.card-tour h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

/* DESCRIPTION */
.card-tour p {
    text-align: center;
    color: gray;
    margin: 5px 0;
}

/* PRICE */
.price {
    display: block;
    text-align: center;
    color: #ff2b2b;
    font-weight: bold;
}

/* INFO ROW (MIN-JAM-KM) */
.info {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

/* BUTTON */
.pesan {
    display: block;
    margin: 10px auto 20px;
    background: #ff3333;
    color: white;
    width: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.pesan:hover {
    background-color: #a12323;
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(58, 44, 44, 0.3);
}
